<div>
  <form (ngSubmit)="onSubmit()">
    <nb-form-field>
      <label>
        <input [(ngModel)]="searchStr" fullWidth name="Search" nbInput placeholder="Search Movies" type="text"/>
      </label>
      <button ghost nbButton nbSuffix>
        <nb-icon icon="search-outline"></nb-icon>
      </button>
    </nb-form-field>
  </form>

  <div class="movie-list">
    <app-movie-card
      (bookmarkEvent)="onBookmark(movie)"
      *ngFor="let movie of searchMovies"
      [bookmarkedMovieIds]="bookmarkedMovies"
      [movie]="movie"></app-movie-card>
  </div>
</div>
