nb-card {
  nb-card-header {
    .movie-title {
      margin-right: 10px;
    }
  }

  nb-card-body {
    padding: 0;

    img {
      height: auto;
      width: 100%;
    }
  }

  nb-card-footer {
    .movie-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
