<nb-card status="primary">
  <nb-card-header>
    <div>
      <span class="movie-title">{{movie.Title}}</span>
      <nb-tag size="tiny" status="basic" text="{{movie.Type}}"></nb-tag>
    </div>
  </nb-card-header>
  <nb-card-body>
    <img alt="{{movie.Title}}" src="{{getImage()}}">
  </nb-card-body>
  <nb-card-footer>
    <div>
      <p>{{movie.Plot}}</p>
      <div class="movie-details">
        <div class="movie-rating">
          <nb-icon icon="star"></nb-icon>&nbsp;
          <span>{{movie.imdbRating}}</span>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
