<nb-layout>

  <nb-layout-header fixed>
    <div class="nav">
      <p>Movie Search App</p>
      <div class="pages">
        <button nbButton routerLink="/" size="small" status="primary">Search</button>
        <button nbButton routerLink="/bookmarks" size="small" status="primary">Bookmarks</button>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <div class="footer">
      <p>&copy; {{date | date: 'YYYY'}} | Done by Ashwin</p>
      <a href="https://www.github.com/Ashwin-op" rel="noreferrer" target="_blank">
        <nb-icon icon="github"></nb-icon>
      </a>
    </div>
  </nb-layout-footer>

</nb-layout>
